      body {
        font-family: "Inter", sans-serif;
      }
      /* Hapus atau ganti gaya .group:hover .group-hover\:block ini */
      /* .group:hover .group-hover\:block {
            display: block;
            opacity: 1;
            transform: scale(1);
        } */
      /* Hapus atau ganti gaya .group-hover\:block ini */
      /* .group-hover\:block {
            transition: all 0.2s ease-out;
            opacity: 0;
            transform: scale(0.95);
        } */

      /* Tambahkan gaya baru untuk dropdown yang diaktifkan JavaScript */
      .dropdown-menu {
        transition: all 0.2s ease-out;
        opacity: 0;
        transform: scale(0.95);
        display: none; /* Sembunyikan secara default */
      }

      .dropdown-menu.active {
        display: block;
        opacity: 1;
        transform: scale(1);
      }
      .modal {
        background-color: rgba(0, 0, 0, 0.5); /* Overlay */
      }
      .modal-content {
        animation: fadeInScale 0.3s ease-out;
      }
      @keyframes fadeInScale {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }